<h2>Welcome, {{cur_user.name}}!</h2>

<a href="#!/ask">Add a Question</a>

<a href="/logout">Logout</a>

<p>Search: <input type="text" ng-model="filter"></p>

<table>
  <tr>
    <th>Questions</th>
    <th>Answers</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="question in questions | filter: filter">
      <td>{{question.question}}</td>
      <td>{{question.answers}}</td>
      <td><a href="#!/question/{{question._id}}">Show</a> <a href="#!/question/{{question._id}}/new_answer">Answer</a></td>
  </tr>
</table>
